#advanced_search.grid_25
  .logo.grid_3
    %span 75ms
  .form
    %input#keyword{:name => 'keyword', :type => 'text', :value => ''}
    %button{:type => 'submit'} 找零食
  .filter.grid_24
    %table
      %tr
        %th 类别
        %td
          %a{:href => '#'} 9折
          %a{:href => '#'} 8折
          %a{:href => '#'} 7折
          %a{:href => '#'} 6折
          %a{:href => '#'} 5折
          %a{:href => '#'} 4折
          %a{:href => '#'} 3折
          %a{:href => '#'} 2折
      %tr
        %th 品牌
        %td
          %a{:href => '#'} 9折
          %a{:href => '#'} 8折
          %a{:href => '#'} 7折
          %a{:href => '#'} 6折
          %a{:href => '#'} 5折
          %a{:href => '#'} 4折
          %a{:href => '#'} 3折
          %a{:href => '#'} 2折
      %tr
        %th 折扣
        %td
          %a{:href => '#'} 9折
          %a{:href => '#'} 8折
          %a{:href => '#'} 7折
          %a{:href => '#'} 6折
          %a{:href => '#'} 5折
          %a{:href => '#'} 4折
          %a{:href => '#'} 3折
          %a{:href => '#'} 2折
.clearfix
#search_result
  .header
    为您找到如下结果:
  .item.grid_18
    %img{:src => '/holder.js/100x100'}
    .info
      %p.title
        %a{:href => '#'} 韩国小吃进口巧克力制做杏仁松塔饼干食品零食特产24包1斤
      %p.sold= "已卖出 <span>1000</span> 件".html_safe
      %p.deadline= "<span>3天</span>后结束".html_safe
      %p.links
        %a{:href => '#'} TA的店铺
        %a{:href => '#'} 快速购买
        %a{:href => '#'} 收藏
    .price 
      &yen; 100.00 
      %p.old_price &yen; 120.00
  .item.grid_18
    %img{:src => '/holder.js/100x100'}
    .info
      %p.title
        %a{:href => '#'} 韩国小吃进口巧克力制做杏仁松塔饼干食品零食特产24包1斤
      %p.sold= "已卖出 <span>1000</span> 件".html_safe
      %p.deadline= "<span>3天</span>后结束".html_safe
      %p.links
        %a{:href => '#'} TA的店铺
        %a{:href => '#'} 快速购买
        %a{:href => '#'} 收藏
    .price 
      &yen; 100.00 
      %p.old_price &yen; 120.00
  .item.grid_18
    %img{:src => '/holder.js/100x100'}
    .info
      %p.title
        %a{:href => '#'} 韩国小吃进口巧克力制做杏仁松塔饼干食品零食特产24包1斤
      %p.sold= "已卖出 <span>1000</span> 件".html_safe
      %p.deadline= "<span>3天</span>后结束".html_safe
      %p.links
        %a{:href => '#'} TA的店铺
        %a{:href => '#'} 快速购买
        %a{:href => '#'} 收藏
    .price 
      &yen; 100.00 
      %p.old_price &yen; 120.00
  .item.grid_18
    %img{:src => '/holder.js/100x100'}
    .info
      %p.title
        %a{:href => '#'} 韩国小吃进口巧克力制做杏仁松塔饼干食品零食特产24包1斤
      %p.sold= "已卖出 <span>1000</span> 件".html_safe
      %p.deadline= "<span>3天</span>后结束".html_safe
      %p.links
        %a{:href => '#'} TA的店铺
        %a{:href => '#'} 快速购买
        %a{:href => '#'} 收藏
    .price 
      &yen; 100.00 
      %p.old_price &yen; 120.00
  .item.grid_18
    %img{:src => '/holder.js/100x100'}
    .info
      %p.title
        %a{:href => '#'} 韩国小吃进口巧克力制做杏仁松塔饼干食品零食特产24包1斤
      %p.sold= "已卖出 <span>1000</span> 件".html_safe
      %p.deadline= "<span>3天</span>后结束".html_safe
      %p.links
        %a{:href => '#'} TA的店铺
        %a{:href => '#'} 快速购买
        %a{:href => '#'} 收藏
    .price 
      &yen; 100.00 
      %p.old_price &yen; 120.00
  .item.grid_18
    %img{:src => '/holder.js/100x100'}
    .info
      %p.title
        %a{:href => '#'} 韩国小吃进口巧克力制做杏仁松塔饼干食品零食特产24包1斤
      %p.sold= "已卖出 <span>1000</span> 件".html_safe
      %p.deadline= "<span>3天</span>后结束".html_safe
      %p.links
        %a{:href => '#'} TA的店铺
        %a{:href => '#'} 快速购买
        %a{:href => '#'} 收藏
    .price 
      &yen; 100.00 
      %p.old_price &yen; 120.00
  .item.grid_18
    %img{:src => '/holder.js/100x100'}
    .info
      %p.title
        %a{:href => '#'} 韩国小吃进口巧克力制做杏仁松塔饼干食品零食特产24包1斤
      %p.sold= "已卖出 <span>1000</span> 件".html_safe
      %p.deadline= "<span>3天</span>后结束".html_safe
      %p.links
        %a{:href => '#'} TA的店铺
        %a{:href => '#'} 快速购买
        %a{:href => '#'} 收藏
    .price 
      &yen; 100.00 
      %p.old_price &yen; 120.00
  .item.grid_18
    %img{:src => '/holder.js/100x100'}
    .info
      %p.title
        %a{:href => '#'} 韩国小吃进口巧克力制做杏仁松塔饼干食品零食特产24包1斤
      %p.sold= "已卖出 <span>1000</span> 件".html_safe
      %p.deadline= "<span>3天</span>后结束".html_safe
      %p.links
        %a{:href => '#'} TA的店铺
        %a{:href => '#'} 快速购买
        %a{:href => '#'} 收藏
    .price 
      &yen; 100.00 
      %p.old_price &yen; 120.00
  .item.grid_18
    %img{:src => '/holder.js/100x100'}
    .info
      %p.title
        %a{:href => '#'} 韩国小吃进口巧克力制做杏仁松塔饼干食品零食特产24包1斤
      %p.sold= "已卖出 <span>1000</span> 件".html_safe
      %p.deadline= "<span>3天</span>后结束".html_safe
      %p.links
        %a{:href => '#'} TA的店铺
        %a{:href => '#'} 快速购买
        %a{:href => '#'} 收藏
    .price 
      &yen; 100.00 
      %p.old_price &yen; 120.00
  .item.grid_18
    %img{:src => '/holder.js/100x100'}
    .info
      %p.title
        %a{:href => '#'} 韩国小吃进口巧克力制做杏仁松塔饼干食品零食特产24包1斤
      %p.sold= "已卖出 <span>1000</span> 件".html_safe
      %p.deadline= "<span>3天</span>后结束".html_safe
      %p.links
        %a{:href => '#'} TA的店铺
        %a{:href => '#'} 快速购买
        %a{:href => '#'} 收藏
    .price 
      &yen; 100.00 
      %p.old_price &yen; 120.00
