%h1 <%= plural_table_name %> 列表

%table
  %tr
<% for attribute in attributes -%>
    %th <%= attribute.human_name %>
<% end -%>
    %th
    %th
    %th

  - @<%= plural_table_name %>.each do |<%= singular_table_name %>|
    %tr
<% for attribute in attributes -%>
      %td= <%= singular_table_name %>.<%= attribute.name %>
<% end -%>
      %td= link_to '展示', <%= singular_table_name %>
      %td= link_to '修改', edit_<%= singular_table_name %>_path(<%= singular_table_name %>)
      %td= link_to '删除', <%= singular_table_name %>, :method => :delete, :data => { :confirm => '确定吗?' }

%br

= link_to '新 <%= human_name %>', new_<%= singular_table_name %>_path
